/* Le board : zone de jeu */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  margin: 0;
  background: linear-gradient(90deg,
      #b68c5c,
      #6b464f,
      #fad1db);
}

.info-Cont {
  display: flex;
  /* arrange children in a row */
  justify-content: space-between;
  /* space between live and score */
  align-items: center;
  background-color: rgba(255, 231, 231, 0.5);
  /* vertically center them */
  width: 100%;
  height: 8%;
  /* full width of the page */
  padding: 10px 20px;
  /* some space around */
  box-sizing: border-box;
  position: absolute;
  /* stick to top */
  top: 0;
  left: 0;
}

#live {
  display: flex;
  align-items: center;

}

#score {
  font-family: 'Luckiest Guy', cursive;
  font-size: large;
}

.brick {
  background: linear-gradient(90deg,
      #855d30,
      #fad1db);
}

#board {
  width: 60vw;
  height: 60vh;
  border: 3px solid rgb(0, 0, 0);
  position: relative;
  margin: 50px auto;
  margin-top: 20vh;

  background-color: rgba(0, 0, 0, 0.5);

}

/* La balle ou le A à l’intérieur */
#letter {

  position: absolute;
  /* pour pouvoir le déplacer avec JS */
  font-size: 60px;
  font-weight: bold;
  top: 0;
  /* position initiale */
  left: 0;
}


#paddle {
  height: 10px;
  width: 90px;
  background: linear-gradient(90deg,
      #855d30,
      #1d1601,
      #fad1db);

  border-radius: 10px;
}

#balle {
  height: 15px;
  width: 15px;
  background: radial-gradient(circle at 30% 30%,
      rgba(200, 230, 255, 0.8) 20%,
      /* soft highlight */
      rgba(150, 200, 255, 0.9) 60%,
      /* main ball color */
      rgba(120, 160, 220, 1) 100%
      /* soft shadow */
    );
  border-radius: 10px;
}

#brick {
  height: 30px;
  width: 30px;
  background-color: saddlebrown;

}

.reward {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;



}


.enmie {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;

}


.arc-title {
  position: relative;
  width: 460px;
  height: 220px;
  margin: 0px;
}

.instI {
  color: #ffffff;
}

.arc-title span {
  position: absolute;
  left: 50%;
  bottom: 0;

  font-family: 'Luckiest Guy', cursive;
  font-size: 46px;

  color: #ff4d6d;

  -webkit-text-stroke: 4px #e6c559;

  text-shadow:
    4px 4px 0 #c9184a,
    0 0 10px #ff8fab;

  transform-origin: bottom center;
}

.arc-title span:nth-child(1) {
  transform: rotate(-60deg) translateY(-160px);
}

.arc-title span:nth-child(2) {
  transform: rotate(-50deg) translateY(-160px);
}

.arc-title span:nth-child(3) {
  transform: rotate(-40deg) translateY(-160px);
}

.arc-title span:nth-child(4) {
  transform: rotate(-30deg) translateY(-160px);
}

.arc-title span:nth-child(5) {
  transform: rotate(-20deg) translateY(-160px);
}

.arc-title span:nth-child(6) {
  transform: rotate(-10deg) translateY(-160px);
}

.arc-title span:nth-child(7) {
  transform: rotate(0deg) translateY(-160px);
}

.arc-title span:nth-child(8) {
  transform: rotate(10deg) translateY(-160px);
}

.arc-title span:nth-child(9) {
  transform: rotate(20deg) translateY(-160px);
}

.arc-title span:nth-child(10) {
  transform: rotate(30deg) translateY(-160px);
}

.arc-title span:nth-child(11) {
  transform: rotate(40deg) translateY(-160px);
}

.arc-title span:nth-child(12) {
  transform: rotate(50deg) translateY(-160px);
}

.arc-title span:nth-child(13) {
  transform: rotate(60deg) translateY(-160px);
}


.startContainer {
  background: linear-gradient(90deg,
      #b68c5c,
      #6b464f,
      #fad1db);


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.souContaner {
  background-color: rgba(255, 231, 231, 0.5);

  border-radius: 20px;
  display: flex;
  height: 80vh;
  width: 60vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

/* Start button wrapper */
.start-btn {
  color: #eba555;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.startButton {
  width: 18vw;
  max-width: 140px;
  min-width: 80px;
  height: auto;

}




.start-btn span {
  margin-top: 8px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
}

.instructionCont {
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 15%;
}

.instTitle {
  color: #be8d8d;
  font-size: large;
  margin-bottom: 2px;

}

.endGame {
  background: linear-gradient(90deg,
      rgba(133, 73, 5, 0.75),
      rgba(107, 70, 79, 0.75),
      rgba(58, 80, 87, 0.75));

  position: fixed;

  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: center;

  border-radius: 80px;
  width: 70vw;
  height: 70vh;
  left: 15vw;
  top: 15vh;
}

.star {
  width: 60px;
  height: 60px;
}

#retryBtn {
  width: 100px;
  height: 100px;
}